@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,300;1,100&display=swap');

body, html{
    height: 100%;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
}

.img{
    background-attachment: fixed;
    height: 100%;
    position:relative;
    opacity:0.90;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.img1{
    background-image: url(/img/jyotirmoy-gupta-fpBNEz7N14s-unsplash.jpg);
    min-height:100%;
}

.img2{
    background-image: url(/img/hosein-shirvani-JMsXVepu4S8-unsplash.jpg);
    min-height: 100%;
}

.img3{
    background-image: url(/img/christopher-campbell-Xo4YvBp6IBM-unsplash.jpg);
    min-height: 100%;
}

.img4{
    background-image: url(/img/thought-catalog--v7EOw5SA4I-unsplash.jpg);
    min-height: 100%;    
}

.img5{
    background-image: url(/img/marina-vitale-t809JJ6r9KA-unsplash.jpg);
    min-height: 100%;
}

.text{
    text-align: center;
    align-items: center;
    position: absolute;
    top: 70vh;
    letter-spacing: 0.5rem;
    width: 100%;
    font-size: 3rem;
    opacity: 0.7;
    text-transform: uppercase;
}

.text1{
    background-color: #0f0f0f;
    padding: 0 1rem;
    color: white;
}

.text5{
    background-color: #5e5549;
    padding: 0 1rem;
    color: wheat;
}
.section{
    padding: 1rem;
}

.section h2{
    text-align: center;
}

.section a{
    text-decoration: none;
    color: black;
}

.section a:link{
    color: #f87171;
}

.section a:visited{
    color: #0f766e;
}

.section a:hover{
    color: #a5bcdf;
}

.section p{
    letter-spacing: 0.1rem;
}